@font-face {
	font-family: 'Open-Sans';
	src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Spectral';
	src: url("../fonts/Spectral/SpectralSC-Bold.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/Awesome/fontawesome-webfont.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Zilla';
	src: url("../fonts/Zilla/ZillaSlabHighlight-Regular.ttf");
	font-size: 1em;
}
header {
	position: fixed;
	background-color: white;
}
header .header-white {
	background-color: #fff;
	height: 40px;
}
header .header-white li {
	background-image: url("../layout/github.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 4px 8px;
}
header .header-white li.github {
	background-position: 0px 0px;
}
header .header-white li.face {
	background-image: url("../layout/face.png");
	background-position: 0px 0px;
}
header .header-white li.instagram {
	background-image: url("../layout/instagram.png");
	background-position: 0px 0px;
}
header .header-white li a {
	width: 24px;
	height: 24px;
	display: block;
}
header .page-header h1 {
	position: relative;
	font-family: Zilla;
	color: #231123;
}
header .page-header h2 {
	position: relative;
	font-family: SpectralSC-Bold;
	color: #AF4319;
}
