@font-face {
	font-family: 'Open-Sans';
	src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Spectral';
	src: url("../fonts/Spectral/SpectralSC-Bold.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/Awesome/fontawesome-webfont.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Zilla';
	src: url("../fonts/Zilla/ZillaSlabHighlight-Regular.ttf");
	font-size: 1em;
}
