body {
    background-image: url("../layout/stardust.png");
    background-repeat: repeat;
    /* UUUUUUUUUUUUUUH YEAH YEAH YEAH*/
}

/* ICONS ON TOP OF THE PAGE */
header.navbar a.icon {
	background-repeat: no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 4px 2px;
}
header.navbar a.icon.github {
    background-image: url("../layout/github.png");
}
header.navbar a.icon.face {
	background-image: url("../layout/face.png");
}
header.navbar a.icon.instagram {
	background-image: url("../layout/instagram.png");
}

/* TITLE IN THE MIDDLE */
header .title h1 {
    font-family: Yesteryear;
    font-size: 60px;
    color: #D36526;
    margin: 0 0 -5px;
}
header .title p.subtitle {
	font-family: Quicksand;
    font-size: 14px;
    color: #231123;
    letter-spacing: 3px;
    text-transform: uppercase;
}
header nav ul li {
    display: inline-block;
	font-family: Quicksand;
    font-size: 12px;
}
section .container-fluid {
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 100%;

}
/* FOOTER */
#footer {
    background: #231123;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
#footer span {
    margin-left: 40%;
    margin-right: 40%;
    font-family: Quicksand;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
