/* Color Pallete {
  color: #2b2525; escuro
  color: #f2e5cb; claro
  color: #ff5845; laranja vibrante
} */

@import url('https://fonts.googleapis.com/css?family=Gudea');

html,body{
  height: 100%;
}
.body {
  background-image: url("img/bg.png");
  background-size: 3%;
  color: #2b2525;
  font-family: 'Gudea', sans-serif;
}
.extern {
  display: flex;
  height: 100%;
}
.content {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 20px;
  background: #fff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
}
.box-left {
  float: left;
  padding: 2%;
  margin: 0 20px;
  position: relative;
  text-align: center; 
}
#foto {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
  max-width: 200px;
}
#simbol {
  position: absolute;
  bottom: 14%;
  right: 20%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
}
#logo {
  max-width: 212px;
  margin-top: -8px;
}
.box-left p {
  line-height: 8px; 
}

.box-right {
  float: left;
  padding: 4%;
  margin: 0 20px;
}
.bar {
  width: 200px;
  height: 5px;
  margin-bottom: 50px;
  background: #ff5845; 
}
.hr {
  border-top: 1px solid #ff5845; 
  width: 65%;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
}
.social .icons {
  font-size: 24px;
  text-decoration: none;
  margin: 10px 0;
}
.social {
  margin: 10px 0;
}
.social .icons a {
  text-decoration: none;
  color: #2b2525;
  padding: 0 4px;
}
.social .icons a:hover {
  color: #ff5845;
}
.links {
  margin-top: 40px;
}
.links a {
  text-decoration: none;
  color: #2b2525;
  padding: 0 4px;
}
.links a:hover {
  color: #ff5845;
}
.h1 {
  letter-spacing: 2px;
  font-weight: 900;
}

@media (max-width:900px){
  .footer, .simbol {
    display: none;
  }
  .content {
    display: block;
    width: 100%;
  }
}
@media (max-width:1400px){
  #simbol {
    max-width: 200px;
  }
}
