@font-face {
	font-family: 'Open-Sans';
	src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Desmond';
	src: url("../fonts/Desmond/Desmond.otf");
	font-size: 1em;
}
