body {
  background-color: #f2e5cb; }
  body img {
    margin: auto; }

header {
  background-color: #fff;
  height: 7em;
  width: 100%;
  padding: 2em 0em; }
  header span {
    margin: auto;
    text-decoration: none; }
    header span a {
      color: #ff5845;
      padding: 0.1em;
      margin-top: 0.2em; }
    header span i {
      color: #2b2525; }
    header span a:hover {
      text-decoration: none;
      color: #2b2525; }

footer {
  background-color: #2b2525;
  padding: 1em 0;
  height: 12em; }
  footer p {
    margin-left: 2em;
    color: #fff; }

#bg {
  background-color: #ff5845;
  background-image: url("../layout/fundo3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0.7;
  height: 30em;
  width: 100%; }
  #bg h1 {
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 6em;
    font-family: desmond;
    font-weight: bolder;
    padding-top: 10%; }
  #bg p {
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    width: 40em; }

#portfolio .icone img {
  margin-top: 2em;
  margin-left: 8em;
  float: left; }

#portfolio p {
  margin-left: 8em;
  font-size: 1.1em;
  font-family: Open-Sans;
  color: #ff5845; }

#portfolio h1 {
  font-size: 3em;
  font-family: desmond;
  color: #ff5845;
  font-weight: bolder;
  margin-left: 4em; }

#aboutme {
  padding-top: 0.5em;
  width: 100%;
  height: 22em;
  background-color: #fff; }
  #aboutme img {
    margin-top: 2em;
    margin-left: 8em;
    float: left; }
  #aboutme p {
    margin-left: 8em;
    font-size: 1.1em;
    font-size: 1.1em;
    font-family: Open-Sans;
    color: #ff5845; }
  #aboutme h1 {
    padding-top: 0.4em;
    margin-left: 4em;
    font-size: 3em;
    font-family: desmond;
    color: #ff5845;
    font-weight: bolder; }
  #aboutme #imagem-logo img {
    float: right;
    height: 20em;
    margin-top: -10em;
    margin-right: 8em; }

.gallery {
  margin: 0 8em 3em; }
  .gallery img {
    width: 12em;
    height: auto;
    border-width: medium;
    border-style: solid;
    border-color: #fff;
    margin-left: 0.35em;
    margin-right: 0.35em;
    margin-bottom: 1em; }

@media (max-width: 1080px) {
  #bg {
    height: 15em; }
    #bg h1 {
      font-size: 4em; }
    #bg p {
      width: 18em;
      font-size: 0.9em;
      padding: 0 10%; }
  #aboutme #imagem-logo img {
    float: right;
    height: 8em;
    margin-top: -0.1em;
    margin-right: 2em; }
  #portfolio .icone img {
    margin-top: 0.2em;
    margin-left: 1em;
    float: left; }
  #portfolio h1 {
    font-size: 3em;
    margin-left: 1.8em;
    margin-top: -0.1em; }
  #portfolio p {
    margin-left: 0.8em;
    font-size: 1em;
    font-family: Open-Sans;
    color: #ff5845; }
  .gallery {
    margin: 0 1em; }
    .gallery img {
      width: 7em; }
  #aboutme img {
    margin-top: 0.2em;
    margin-left: 1em;
    float: left; }
  #aboutme h1 {
    font-size: 3em;
    margin-left: 1.8em;
    margin-top: -0.1em; }
  #aboutme p {
    margin-left: 0.8em;
    font-size: 1em;
    font-family: Open-Sans;
    color: #ff5845; }
  footer p {
    margin-left: 0.2em; } }
