@media (max-width:900px){
  .extern {
    margin-top: 40px;
  }
  .extern > .content > .box-1, .extern > .content > .box-2 {
    width: auto;
    padding: 0;
    text-align: center;
    margin-top: 0;
  }
  footer {
    display: none;
  }
  .extern > .content {
    display: block!important;
    width: auto;
  }
  .extern > .content > .div100 {
    width: auto;
    margin-bottom: 15px;
  }
  .extern > .content > .box-2 > .hr {
    margin-left: 0;
  }
}
