@media (max-width:900px){
  .extern {
    margin-top: 40px;
  }
  .extern > .content > .box-1, .extern > .content > .what-im {
    width: auto;
    padding: 0;
    text-align: center;
    margin-top: 0;
  }
  .extern > .content {
    display: block!important;
    width: auto;
  }
  .extern > .content > .content_image {
    width: auto;
    margin-bottom: 15px;
  }
  .extern > .content > .what-im > .hr {
    margin-left: 0;
  }
}
