@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  background: linear-gradient(45deg, #fe917d 0%, #f77172 36%, #eb6a7c 67%, #e76b7e 100%);
  height: 100%; }

body {
  background-image: url("../img/pattern1.png"), url("../img/pattern2.png"), url("../img/pattern3.png");
  animation: backgroundmoving 120s linear 0s infinite reverse;
  background-size: 20%;
  color: #2b2525;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 95vh;
  overflow: hidden; }

footer {
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px; }

.extern {
  max-height: 500px;
  margin: auto; }
  .extern > .content {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-top: 150px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15)); }
    .extern > .content > .content__image {
      width: 600px;
      text-align: center;
      margin-top: -150px; }
    .extern > .content > .what-im {
      width: 270px;
      padding: 15px;
      text-align: right;
      margin-top: -40px; }
      .extern > .content > .what-im > hr {
        border-top: 2px solid #ff5845;
        margin-left: 200px; }
      .extern > .content > .what-im > .social .icons {
        font-size: 22px;
        text-decoration: none;
        margin: 10px 0; }
      .extern > .content > .what-im > .social {
        margin: 10px 0; }
      .extern > .content > .what-im > .social .icons a {
        vertical-align: middle;
        padding: 0 2px;
        text-decoration: none;
        color: #2b2525; }
      .extern > .content > .what-im > .social .icons a:hover {
        color: #ff5845;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .extern > .content > .information {
      padding: 15px;
      width: 270px;
      margin-top: -40px; }
      .extern > .content > .information > .text > p {
        font-size: 14px;
        line-height: 8px; }
      .extern > .content > .information > .text > p::before {
        content: '● ';
        color: #ff5845;
        font-size: 14px;
        font-weight: bold; }
      .extern > .content > .information > .text > hr {
        border-top: 2px solid #ff5845;
        margin-right: 200px; }
      .extern > .content > .information > .text > .links {
        margin: 20px 0; }
      .extern > .content > .information > .text > .links a {
        text-decoration: none;
        color: #2b2525;
        padding: 4px 6px;
        transition: all 450ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .extern > .content > .information > .text > .links a:hover {
        color: #ff5845;
        border-bottom: 1px solid #ff5845;
        cursor: pointer; }
      .extern > .content > .information > .text > .links a i::after {
        content: ' '; }

#foto {
  max-width: 200px;
  height: auto;
  border: 10px white solid;
  border-radius: 120px;
  background-color: white; }

#logo {
  max-width: 212px;
  margin-top: -8px; }

#simbol {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 0; }

@keyframes backgroundmoving {
  from {
    background-position-x: 0%, 50%, 100%; }
  to {
    background-position-x: 520%, 330%, 180%; } }

@media (max-width: 700px) {
  #logo {
    margin: 10px 0; }
  .extern {
    margin-top: 40px; }
    .extern > .content {
      display: block;
      margin-top: 120px;
      border-radius: 0;
      width: auto; }
      .extern > .content > .content__image {
        width: 290px; }
      .extern > .content > .information,
      .extern > .content > .what-im {
        width: auto;
        padding: 0;
        text-align: center;
        margin-top: 0; }
      .extern > .content > .information > .text > .social > .icons {
        font-size: 22px; }
      .extern > .content > .information > .text > hr {
        width: 40px;
        margin: auto; }
      .extern > .content > .what-im > hr {
        width: 40px;
        margin: auto; } }
