@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Gudea");
html {
  background-image: url("../img/html-bg.jpg");
  background-size: 100% 150%;
  height: 100%; }

body {
  background-image: url("../img/pattern1.png"), url("../img/pattern2.png"), url("../img/pattern3.png");
  animation: backgroundmoving 120s linear 0s infinite reverse;
  background-size: 20%;
  color: #2b2525;
  font-family: 'Gudea', sans-serif;
  display: flex;
  height: 95%;
  overflow: hidden; }

.extern {
  max-height: 500px;
  margin: auto; }
  .extern > .content {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-top: 150px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15)); }
    .extern > .content > .content__image {
      width: 600px;
      text-align: center;
      margin-top: -150px; }
    .extern > .content > .what-im {
      width: 270px;
      padding: 15px;
      position: relative;
      text-align: right;
      margin-top: -40px; }
      .extern > .content > .what-im > p {
        font-size: 14px;
        line-height: 8px; }
      .extern > .content > .what-im > p::after {
        content: ' ●';
        color: #ff5845;
        font-size: 14px;
        font-weight: bold; }
      .extern > .content > .what-im > .hr {
        border-top: 2px solid #ff5845;
        margin-left: 200px; }
    .extern > .content > .information {
      padding: 15px;
      width: 270px;
      margin-top: -40px; }
      .extern > .content > .information > .bar {
        width: 200px;
        height: 5px;
        margin-bottom: 50px;
        background: #ff5845; }
      .extern > .content > .information > .text > .h1 {
        letter-spacing: 2px;
        font-weight: 900; }
      .extern > .content > .information > .text > .links {
        margin: 20px 0; }
      .extern > .content > .information > .text > .links a {
        text-decoration: none;
        color: #2b2525;
        padding: 4px;
        transition: all 450ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .extern > .content > .information > .text > .links a:hover {
        color: #ff5845;
        border-bottom: 1px solid #ff5845; }
      .extern > .content > .information > .text > .links a i::after {
        content: ' '; }
      .extern > .content > .information > .text > .social .icons {
        font-size: 16px;
        text-decoration: none;
        margin: 10px 0; }
      .extern > .content > .information > .text > .social {
        margin: 10px 0; }
      .extern > .content > .information > .text > .social .icons a {
        vertical-align: middle;
        padding: 0 2px;
        text-decoration: none;
        color: #2b2525; }
      .extern > .content > .information > .text > .social .icons a:hover {
        color: #ff5845;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

#foto {
  max-width: 200px;
  height: auto;
  border: 10px white solid;
  border-radius: 120px;
  background-color: white; }

#logo {
  max-width: 212px;
  margin-top: -8px; }

#simbol {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 0; }

footer {
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px; }

@keyframes backgroundmoving {
  from {
    background-position-x: 0%, 50%, 100%; }
  to {
    background-position-x: 520%, 330%, 180%; } }

@media (max-width: 700px) {
  html {
    background: #ff5845; }
  body {
    background-size: 50%; }
  .extern {
    margin-top: 40px; }
  .extern > .content > .information,
  .extern > .content > .what-im {
    width: auto;
    padding: 0;
    text-align: center;
    margin-top: 0; }
  .extern > .content {
    display: block !important;
    margin-top: 120px;
    border-radius: 0;
    width: auto; }
  .extern > .content > .content__image {
    width: 290px; }
  .extern > .content > .information > .text > .social .icons {
    font-size: 22px; }
  .extern > .content > .what-im > .hr {
    width: 40px;
    margin: auto; }
  .extern > .content > .what-im > p::after {
    content: ' '; } }
