// Colors
$Dark: #2b2525;
$Light: #f2e5cb;
$Orange: #ff5845;
$Brown: #4d4842;

// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// General
html {
  background: linear-gradient(45deg, #fe917d 0%,#f77172 36%,#eb6a7c 67%,#e76b7e 100%);
  height: 100%;
}
body {
  background-image: url("../img/pattern1.png"), url("../img/pattern2.png"), url("../img/pattern3.png");
  animation: backgroundmoving 120s linear 0s infinite reverse;
  background-size: 20%;
  color: $Dark;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 95vh;
  overflow: hidden;
}
footer {
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}

// Content
@import 'content';

// IDS
#foto {
  max-width: 200px;
  height: auto;
  border: 10px white solid;
  border-radius: 120px;
  background-color: white;
}
#logo {
  max-width: 212px;
  margin-top: -8px;
}
#simbol {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}

// Animation
@keyframes backgroundmoving {
  from {
    background-position-x: 0%, 50%, 100%
  }
  to {
    background-position-x: 520%, 330%, 180%
  }
}

// Responsive
@import 'responsive';


