// Colors
$Dark: #2b2525;
$Light: #f2e5cb;
$Orange: #ff5845;
$Brown: #4d4842;

$Gradient: linear-gradient(45deg, #fe917d 0%,#f77172 36%,#eb6a7c 67%,#e76b7e 100%);
$Background: url("../img/pattern1.png"), url("../img/pattern2.png"), url("../img/pattern3.png");

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$Font: 'Open Sans', sans-serif;

// Animations
@keyframes backgroundmoving {
  from {
    background-position-x: 0%, 50%, 100%
  }
  to {
    background-position-x: 520%, 330%, 180%
  }
}
